<% include partials/header.ejs %>
    <body onload="opcija('<%= product._id %>')">

        <div class="col-md-3 fixed-left" style="background:#2c3e50; padding-top:50px;" align="center">
                <img src="/public/images/user.png" class="img-responsive" />
                <br/>
                <h4 style="color:#fff">Корисник:</h4>
                <h3 style="color:#ececec"><%= user.name+" "+user.surname %></h3>
                <br/>
                <h4 style="color:#fff">Е-маил:</h4>
                <h4 style="color:#ececec"><%= user.email %></h4>
        <a href="/logout" class="btn btn-defaults" style="margin:30px;">Одјави се</a>        
        </div>
        
        
        <div class="col-md-9 col-md-push-3" style="padding:20px;">

        <% if (message) { %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
        <% } %>
        
        <br/>
        <div class="panel panel-default">
          <div class="panel-heading">
        <h4><i class="fa fa-shopping-bag"></i> Информации</h4>
          </div>
          <div class="panel-body">
        <p><strong>Продукт: <%= product.name %></strong></p>
        <p><strong>Продавница: <%= product.prodavnica%></strong></p> 
        <p><strong>Град: <%= product.grad%></strong></p> 
        <p><strong>Цена: <%= product.cena.toFixed(2) %> МКД</strong></p>
          </div>
          <div class="panel-footer">
            <a href="/products/remove/<%= product._id %>" class="btn btn-default-red"><i class="fa fa-trash"></i> Избриши Производ</a>
          </div>
        </div>
        
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
        <h4><i class="fa fa-shopping-basket"></i> Измени го производот </h4>
          </div>
        <div class="panel-body">
        <form action="" method="post" class="form-inline" onsubmit="return productvalidation();">
          <div class="form-group" id="name-group">
            <label class="sr-only" for="name">Производ</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Производ" value="<%= product.name %>" onkeyup="convertName()" autocomplete="off">
            <div id="name-feedback"></div>
          </div>
          <div class="form-group" id="prodavnica-group">
            <label class="sr-only" for="prodavnica">Продавница</label>
            <input type="text" class="form-control" id="prodavnica" name="prodavnica" placeholder="Продавница" value="<%= product.prodavnica%>" onkeyup="convertProdavnica()" autocomplete="off">
            <div id="prodavnica-feedback"></div>
          </div>
          <div class="form-group" id="grad-group">
            <label class="sr-only" for="grad">Продавница</label>
            <input type="text" class="form-control" id="grad" name="grad" placeholder="Град" value="<%= product.grad%>" onkeyup="convertGrad()" autocomplete="off">
            <div id="grad-feedback"></div>
          </div>
          <div class="form-group" id="cena-group">
            <label class="sr-only" for="cena">Цена</label>
            <input type="text" class="form-control" id="cena" name="cena" placeholder="Цена" value="<%= product.cena %>" autocomplete="off">
            <div id="cena-feedback"></div>
          </div>

          <button type="submit" class="btn btn-default "><i class="fa fa-check fa-lg"></i></button>
          
        </form>
        </div>
        </div>
        
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
        <h4><i class="fa fa-list-ol"></i> Исти производи со пониска цена од твојата</h4>
          </div>
        <div class="panel-body">
        <% if (similarProducts.length>0) { %>
        <div class="table-responsive">
        <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th></th>
                    <th>Производ</th>
                    <th>Продавница</th>
                    <th>Град</th>
                    <th>Цена</th>
                    <th>Разлика во цена</th>
                </tr>
              </thead>
        
                <% for(var i=0; i<similarProducts.length; i++) { %>
                
                <tr>
                <td><%= i+1 %></td>
                <td><%= similarProducts[i].name %></td>
                <td><%= similarProducts[i].prodavnica %></td>
                <td><%= similarProducts[i].grad %></td>
                <td><%= similarProducts[i].cena %> МКД</td>
                <td><%= (product.cena - similarProducts[i].cena).toFixed(2) %> МКД</td>
                </tr>  
                
                <% } %>
        </table>
        </div>
        <% }else{ %>
                <p>Нема производи со пониска цена од твојата.</p>
        <% } %>
          </div>
        </div>
        
        
        <% if(similarProducts.length>0) { %>
        <br>
        
        

        <div class="panel panel-default">
          <div class="panel-heading">
        <h4><i class="fa fa-map"></i> Локации на сличните производите</h4>
          </div>
        <div class="panel-body">
          <h5>Филтрирај ги локациите според цена на производот: <strong><span id="productPrice"></span></strong></h5>
          <div style="padding:0px 10px"><div id="snap"></div></div>
          <br>
        <div id="map"></div>
        </div>
        </div>
        <% } %>
        <hr/>
        <a href="/products/1" class="btn btn-default">Назад до профилот</a>

        </div>
<% include partials/footer.ejs %>